<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>
    {{ partial "head/scripts.html" . }}

    <!-- Content Type -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" href="/static/favicon-144.png" type="image/png">
    <link rel="icon" href="/static/favicon/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/static/favicons/apple-touch-icon.png">

    <link rel="manifest" href="/static/favicons/manifest.webmanifest">


    <!-- META -->
    {{ partial "head/meta.html" . }}

    <!-- CSS stylesheets -->
    {{ partial "head/stylesheets.html" . }}

    <!-- Custom style tag for parameterized CSS -->
    {{ partial "head/css.html" . }}
</head>