<div class="comments">
  <div style="margin-top:1cm;" id="giscus_thread"></div>
  <style>
    /* Make the comment box narrower without scaling text */
    .comments {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    #giscus_thread {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    #giscus_thread > * {
      width: 100%;
      max-width: 800px;
    }
    #giscus_thread iframe.giscus-frame {
      width: 100% !important;
    }
  </style>
</div>



