<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
    {{ partial "head/meta.html" . }}
</head>
<body>
    <main>
        <button onclick="window.location.href='/'" style="padding-top: 0.625rem;
padding-bottom: 0.625rem; 
padding-left: 1.25rem;
padding-right: 1.25rem; 
margin-bottom: 0.5rem; 
border-radius: 9999px; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 500; 
text-align: center; 
color: #ffffff; 
background-color: #1D4ED8; ">&larr; Back to Home</button>
        <h1>Search Results</h1>
        <div id="search-results"></div>
    </main>
    <script src="/js/flexsearch.min.js"></script>
    <script src="/js/search.js"></script>
</body>
</html>
