/* Override Katex font scaling */
.katex {
    font-size: 1em !important;
}

/* Adds bullets for Recent under Sidebar */
li.bullet {
  list-style-type: disc;
  margin-left: 1.5em;
}

/* Ensure spacing between date, separator, and reading time. Seems to be a bug with github pages?*/
.info span {
  margin-left: 0.5rem;
}

/* Add custom CSS or override theme styles here */
.sidebar-about h1 {
    font-size: 2em;
}

/*
On small screens (mobile), display a small image next to brand text.
Also, only show the headings of the menu items and hide the socials (they will be in the footer)
*/
@media (max-width: 48em) {
    .sidebar-about .brand-image {
        margin-right: 15px;
    }

    .sidebar-about img {
        height: 140px;
        width: 140px;
    }

    .sidebar-about h1 {
        font-size: 1.2em;
    }
    .sidebar-about p {
        font-size: 1em;
    }

    .sidebar-about {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar-nav {
        margin: 0;
    }

    .sidebar-nav li {
        display: inline-block;
        margin: 0 10px;
    }

    .sidebar-nav li.bullet,li.sub-heading {
        display: none;
    }

    aside.sidebar a.social, aside.sidebar p.footnote {
        display: none;
    }

    /* Center and make sidebar sticky in mobile view */
    aside.sidebar {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        z-index: 100;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }

    .content,
    .container,
    footer {
        margin-right: 0 !important;
        padding-right: 20 !important;
        max-width: 100% !important;
        width: 100% !important;
        box-sizing: border-box;
    }
}


@media (min-width: 48em) {
    footer {
        display: none;
    }
}



/* Centers non-rectangular images for sidebar */
.sidebar-about img {
    max-width: 100%;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}


/* Modifies the ToC Size */
.toc-wrapper {
  max-width: 220px;
  width: 3000px;
  margin-left: 1rem;
  margin-right: 4rem;
}

.toc-wrapper ol {
  padding-left: 0em;
}

.container {
  width: 100%;
  max-width: 60vw;
  overflow-x: hidden;
}

/* Modifies the Post width */
.content {
  max-width: 100%;
  padding-left: 2rem;
  margin-right: 4rem;
  padding-right: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;
  font-size: 1.2em !important;
}